.round-red {
    -fx-background-color: linear-gradient(#2B2B2B, #2B2B2B);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

}

.search-field {
    -fx-background-color:  #778899,  #778899 ,  #778899;
    -fx-background-radius: 10;
    -fx-background-insets: 0 -10 -10 -10, 0 0 0 0, 0 -1 3 -1;
    -fx-text-inner-color: white;
}

.search-field:focused {
    -fx-background-color:   #2B2B2B;
    -fx-background-radius: 10;
    -fx-text-inner-color: white;
}

.card {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.text-flow {
    -fx-background-color:  #778899,  #778899 ,  #778899;
    -fx-background-radius: 10;
    -fx-background-insets: 0 -10 -10 -10, 0 0 0 0, 0 -1 3 -1;
    -fx-text-inner-color: white;
}